tasks/
data/
rnaseqpipe/rnaseqpipe.egg-info/
.vscode/settings.json
salmon_index/R64-1-1/decoy/decoys.txt
salmon_index/R64-1-1/decoy/gentrome.fa
pl-9e233179-57c0-43fb-b514-1f98745ceacb/
pl-DRR023784/
pl-DRR023792/
pl-DRR023782/
pl-DRR023791/
pl-DRR023789/
pl-DRR023790/
